<div class="form-container rounded-lg shadow">
  <h2>Filter...</h2>
  <%= simple_form_for @user do |f| %>
      <%= f.input :cuisine, label: "Cuisine?" %> <!-- could do multiple -->
      <%= f.input :price, label: "Max price?" %>
      <%= f.submit "Update", class: "btn btn-secondary" %>
  <% end %>
</div>

<!-- erm...where should the form contents go? -->

<div class="form-container rounded-lg shadow">
  <%= form_tag users_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a movie"
    %>
    <%= submit_tag "Search", class: "btn btn-secondary" %>
  <% end %>
</div>
