
  <div class="wrapper">
    <div class="home_banner">
      <h1 class="heading">Choose your chef</h1>
      <p>Over 1000 gourmet chefs ready to cook for you.</p>
    </div>


    <div class="cards-wrapper container" >
     <div class="row">
      <% @cooks.each do |cook| %>
        <%= link_to user_path(cook), class: "col-4" do %>
          <div class="card">
            <div class="card-blocks card-image">
                <% if cook.avatar.attached?%>
                  <%= cl_image_tag(cook.avatar.key,
                  width: 80, height: 80, crop: :fill, class: "index-avatar") %>
                <% else %>
                  <img src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" class="index-avatar" alt="fake image" style="width: 80px;height: 80px; object-fit: cover; object-position: 50% 65%;">
                <% end %>
            </div>

            <div class="card-blocks card-body">
              <div class="c-title">
                <h5 class="card-title"><%=cook.name%></h5>
              </div>
              <div class="card-blocks card-content">
                <p class="card-text"><%=cook.bio%></p>
              </div>
            </div>
              <div class=" card-blocks card-footer ">
                <div class="footer-items card-social">
                  <i class="fab fa-facebook-square"></i>
                  <i class="fab fa-twitter-square"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-linkedin"></i>
                </div>
                <div class="footer-items card-rating-price">
                  <p class="card-item card-price">£<%= rand(100..1000)%></p>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

