<div class="show-container container">
  <div class="container">
    <div class="row">
      <div class="col-sm">

        <div id="profile-info">
          <div class="profile-">
            <% if @user.avatar.attached? %>
              <%= cl_image_tag(@user.avatar.key,
              width: 170, height: 170, crop: :fill, class: "profile-avatar") %>
            <% else %>
              <img class="profile-avatar" src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="fake image" style="width: 170px;height: 170px; object-fit: cover; object-position: 50% 65%;">
            <% end %>
            <h1><%= @user.name %></h1>
          </div>
          <% if current_user == @user %>
            <%= link_to edit_user_registration_path do %>
              <i class='fas fa-pencil-alt'></i>
            <% end %>
          <% end %>
          <% if @user.price %>
            <h3>£<%= @user.price / 100 %> per day</h3>
          <% end %>
          <div id="profile-stars">
            <% if @user.rating %>
              <% @user.rating.times do %>
                <i class="far fa-star"></i>
              <% end %>
            <% end %>
          </div>

          <h3><%= @user.cuisine %></h3>
          <p id="profile-bio"><%= @user.bio %></p>
        </div>

      </div>
    <div class="col-sm">

      <% if !current_user.iscook && current_user != @user %>
        <%= render "users/booking_form" %>
      <% end %>

    </div>
  </div>
</div>

<%= render "users/list_bookings" %>
