<% if @user == current_user %>
  <h1>Hello, <%= @user.name %>!</h1>

  <h2>Your bookings:</h2>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <%= booking.date %> <br>
        Cook: <%= booking.cook.name %> <br>
        Location: <%= booking.location %>
        <% if !current_user.iscook %>
          <%= link_to "CANCEL", user_booking_path(@user, booking), method: "delete" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h1><%= @user.name %>'s profile</h1>
<% end %>

<% if !current_user.iscook && @user.iscook %>
  <%= link_to "Book this Cook!", new_user_booking_path(@user) %>
<% end %>
